* {
    background-color: rgb(59, 58, 58);
}

h1 {
    text-align: center;
    font-size: 10vh;
    margin: 0;
    color: rgb(255, 201, 39);
    text-shadow:0px 0px 20px rgb(255, 201, 39),0px 0px 20px rgb(255, 201, 39);
}

p {
    text-align: center;
    margin: 10vh;
    color: rgb(255, 201, 39);
    text-shadow:0px 0px 20px rgb(255, 201, 39),0px 0px 20px rgb(255, 201, 39);
}

input, button {
    display: block;
    margin: auto;
    margin-top: 3vh;
    width: 90vw;
    outline: none;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.3);
}


.sidePannel {
    margin: 2vh;
}

.clock {
    width: 10vw;
    margin: auto;
}